
# Created by https://www.gitignore.io/api/vagrant,visualstudiocode
# Edit at https://www.gitignore.io/?templates=vagrant,visualstudiocode

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

### Vagrant Patch ###
*.box

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Published application ###
output/

# End of https://www.gitignore.io/api/vagrant,visualstudiocode